@import "../../_helpers/sass/_variables.scss";

.UsersList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 186px;
  overflow-y: scroll;
  &__Button {
    padding: 12px 0;
    background: $color-back;
    color: $color-text;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid grey;
  }
  &__Button:hover {
    cursor: pointer;
  }
}
